* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

#container {
  margin: 25px 20px;
  min-width: 375px;
}

.settings {
  font-weight:bold;
  font-size:1.05em;
  letter-spacing: .5px;
  padding:12px 0;
  text-align: center;
  color:#fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background:rgb(0, 82, 159);
  margin-bottom:20px;
}

.title {
  line-height: 1;
  margin:0;
}

.subtitle {
  color: rgb(119, 119, 119);
  display:block;
  margin-top:4px;
}

form {
  margin-top:15px;
}

form input {
  outline:none;
  width:100%;
  border:1px solid rgb(0, 82, 159);
  border-radius:6px;
  padding:8px;
}

form button {
  width:100%;
  cursor: pointer;
  background:rgb(0, 82, 159);
  border:none;
  margin-top:10px;
  border-radius:6px;
  padding:10px;
  color:#fff;
}

.blocked_list {
  margin-top:10px;
}

.blocked_list .subtitle {
  font-size:1.1em;
  margin-top:20px;
  color:#1e1e1e;
}

.blocked_list ul {
  margin-top:6px;
  list-style-type: none;
}

.blocked_list ul li {
  display:inline-block;
  color:#1e1e1e;
  margin-right: 4px;
}

.delete_user {
  cursor:pointer;
  color:rgb(0, 82, 159);
  font-weight:bold;
}
