* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  position:relative;
}

#container {
  border-left:5px solid #0396DB;
}

.inner_container {
  padding:20px;
}

.inner_container h2 {
  margin-bottom: 8px;
}

.inner_container p {
  line-height: 1.5;
  font-size: 1.1em;
}

.inner_container p:not(:last-child) {
  margin-bottom: 5px;
}

main {
  position:relative;
  overflow: hidden;
  min-width: 350px;
}

main #toggle {
  position:absolute;
  z-index: 999;
  background:#ededed;
  left:0;
  top:50%;
  transform: translateX(-50%);
  background:#0396DB;
  border-radius:50%;
  padding:20px;
}

main .toggle__icon {
  display:block;
  color:#fff;
  text-align:right;
  font-size:4em;
}

.title {
  font-size:1.3em;
  font-weight:lighter;
}

.sub-title {
  font-weight: bold;
  font-size: .95em;
  margin-top: 2px;
}

.title-container {
  color:#fff;
  padding:20px;
  font-weight:lighter;
  background:#0396DB;
}

.subtitle {
  color: rgb(119, 119, 119);
  display:block;
}

.info_title {
  margin-bottom:6px;
  color:#1e1e1e;
}

.info_list {
  margin-left:17px;
  font-size:1.1em;
  line-height: 1.5;
}

form {
  margin-top:15px;
  position:relative;
}

form input {
  outline:none;
  width:100%;
  border:none;
  border-bottom:2px solid #0396DB;
  padding:6px 0;
}

form input::placeholder {
  color:#0396DB;
}

form input:focus ~ label {
  top:-12px;
  font-size:.9em;
}

.button {
  width:100%;
  cursor: pointer;
  background:#0396DB;
  border:none;
  margin-top:10px;
  padding:8px;
  color:#fff;
}

.blocked_container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:16px;
}

.blocked_container button {
  cursor: pointer;
  background:#0396DB;
  border:none;
  font-size:.9em;
  color:#fff;
  padding:6px 8px;
}

.blocked_list .subtitle {
  color:#1e1e1e;
  font-size:1.1em;
}

.blocked_list ul {
  margin-top:6px;
  list-style-type: none;
}

.blocked_list ul li {
  display:inline-block;
  color:#1e1e1e;
  margin-right: 4px;
}

.delete_user {
  cursor:pointer;
  color:#0396DB;
  font-weight:bold;
}

footer {
  border-top:1px solid #0396DB;
  margin:0 20px;
  margin-top: 10px;
  color:#d8d8d8;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display:inline-block;
  position:relative;
}

footer ul li:not(:last-child)::before {
  content:'•';
  color:#0396DB;
  position: absolute;
  top:10px;
  right:-10px;
}

footer ul li:not(:last-child) {
  margin-right:12px;
}

footer ul li a {
  display:inline-block;
  padding:10px 0;
  color:#1e1e1e;
  text-decoration: none;
}

footer ul li a:hover {
  color: #0396DB;
}
